@import '../../../../assets/abstracts/mixins';
@import '../../../../assets/abstracts/variables';

.podcast-episode {
    @include resource-card;

    &__content {
        padding: 0.5em 1.2em;
    }

    &__summary {
        font-style: italic;
        @include resource-text;
    }

    &__player {
        margin-top: 1.5em;
        width: 100%;
    }

    &__title {
        color: $title-color;
        margin-bottom: 20px;
    }
}
